{% extends "network/layout.html" %}

{% block body %}
    <div class="container">
        <h1>All Posts</h1>

        {% if user.is_authenticated %}
        <div class="card">
            {% comment %} <div class="container">
                New Post
            </div> {% endcomment %}
            <div class="container">
                <div class="mb-3">
                    <label for="new-post" class="form-label">New Post</label>
                    <textarea class="form-control" id="new-post" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary">POST</button>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}