{% if not page_obj %}
  <div class="card container">
    <div><strong>No Posts found</strong></div>
  </div>
{% else %}
  {% for post in page_obj %}
    <div class="card container">
      <a href={% url 'profile' post.owner.id %}><b>{{ post.owner }}</b></a>
      {% if request.user == post.owner %}
        <a href="#edit" class="edit-link">Edit</a>
        <input class="post-id" type="hidden" value={{ post.id }} />
      {% endif %}
      <div class="post-text">{{ post.text }}</div>
      <div class="text-secondary">
          <div>{{ post.created_at }}</div>
          <div>💖 {{ post.likes.count }}</div>
          <div>Comment</div>
      </div>
    </div>
  {% endfor %}

  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
      {% endif %}

      <span class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', () => {
    editLinks = document.querySelectorAll('.edit-link')

    for (const editLink of editLinks) {
      editLink.addEventListener('click', () => {
        const parent = editLink.parentNode
        const postText = parent.querySelector('.post-text').innerText
        const postId = parent.querySelector(".post-id").value

        parent.innerHTML = `
          <form action={% url 'edit' %} method="POST">
            {% csrf_token %}
            <div class="mb-3">
              <label for="edit-post" class="form-label">Edit Post</label>
              <textarea id="edit-post" name="edited-text" class="form-control" rows="3">${postText}</textarea>
              <input type="hidden" name="postId" value=${postId} />
            </div>
            <input type="submit" class="btn btn-primary" value="Save">
          </form>
        `
      })
    }
  })
</script>