{% load static %}
<script src={% static 'network/posts.js' %}></script>
<script src={% static 'network/like.js' %}></script>

{% if not page_obj %}
  <div class="card container">
    <div><strong>No Posts found</strong></div>
  </div>
{% else %}
  {% for post in page_obj %}
    <div class='card container' id='post-card-{{post.id}}'>
      <a href={% url 'profile' post.owner.id %}><b>{{ post.owner }}</b></a>
      {% if request.user == post.owner %}
        <a href='#edit' class='edit-link' onclick='handleEdit(event)'>Edit</a>
        <input class='post-id' type='hidden' value={{ post.id }} />
      {% endif %}
      <div class='post-text'>{{ post.text }}</div>
      <div class='text-secondary'>
          <div>{{ post.created_at }}</div>
          <div id="post-{{ post.id }}-likes">💖 {{ post.likes.count }}</div>
          {% if request.user in post.likes.all %}
            <a href="#unlike" onclick="handleUnlike({{ post.id }})">Unlike</a>
          {% else %}
            <a href="#like" onclick="handleLike({{ post.id }})">Like</a>
          {% endif %}
      </div>
    </div>
  {% endfor %}

  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
      {% endif %}

      <span class="page-link">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

